.theme-light .empty{
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #e74c3c;
}

/* Dark Mode  */
.theme-dark .empty{
    background-color: #222;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #e74c3c;
}
