@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: #8e44ad;
  color: #fff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #8e44ad;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  padding-left: 30rem;
}

body .theme-light{
    background-color: #eee;
}

body .theme-dark{
    background-color: #333;
}

body.active {
  padding-left: 0;
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Media Screen */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1200px) {
    body{
        padding-left: 0;
    }
}